---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgresql-data-claim
  namespace: $NAMESPACE
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
  namespace: $NAMESPACE
data:
  create_table.sql: |
    CREATE TABLE IF NOT EXISTS trades (
      share_price float4 check (share_price>=0), 
      shares integer check (shares>=0), 
      action varchar(255), 
      customer_id varchar(255), 
      symbol varchar(255), 
      trade_id varchar(255) not null, 
      primary key (trade_id));
    CREATE EXTENSION IF NOT EXISTS pg_stat_statements;
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: trading
    service: postgresql
  name: postgresql
  namespace: $NAMESPACE
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trading
      service: postgresql
  template:
    metadata:
      labels:
        app: trading
        service: postgresql
        type: postgresql
        dbName: $POSTGRESQL_DBNAME
      annotations:
        io.opentelemetry.discovery.logs/enabled: "true"
        io.opentelemetry.discovery.logs/config: |
          operators:
          - type: container
          - type: regex_parser
            on_error: send_quiet
            parse_from: body
            regex: '^(?P<timestamp_field>\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}.\d{3}\s[A-z]+)\s\[\d+\]\s(?P<severity_field>[A-Z]+):\s*(?<msg_field>.*?)\s*(\/\*traceparent=\x27(?P<version>\d*)?-(?P<trace_id>\S*)-(?P<span_id>\S*)-(?P<trace_flags>\d*)\x27\*\/)?$'
            timestamp:
              parse_from: attributes.timestamp_field
              on_error: send_quiet
              layout_type: strptime
              layout: '%Y-%m-%d %H:%M:%S.%L %Z'
            trace:
              trace_id:
                parse_from: attributes.trace_id
                on_error: send_quiet
              span_id:
                parse_from: attributes.span_id
                on_error: send_quiet
              trace_flags:
                parse_from: attributes.trace_flags
                on_error: send_quiet
            severity:
              parse_from: attributes.severity_field
              on_error: send_quiet
              mapping:
                warn: 
                  - WARNING
                  - NOTICE
                error:
                  - ERROR
                info: 
                  - LOG
                  - INFO
                  - STATEMENT
                debug1:
                  - DEBUG1
                debug2:
                  - DEBUG2
                debug3:
                  - DEBUG3
                debug4:
                  - DEBUG4
                debug5:
                  - DEBUG5
                fatal:
                  - FATAL
                  - PANIC
          - type: move
            on_error: send_quiet
            from: attributes.msg_field
            to: body
          - type: remove
            on_error: send_quiet
            field: attributes.timestamp_field
          - type: remove
            on_error: send_quiet
            field: attributes.severity_field
          - type: remove
            on_error: send_quiet
            field: attributes.trace_id
          - type: remove
            on_error: send_quiet
            field: attributes.span_id
          - type: remove
            on_error: send_quiet
            field: attributes.trace_flags
    spec:
      tolerations:
      - key: "REGION"
        operator: "Equal"
        value: "$REGION"
        effect: "PreferNoSchedule"
      containers:
        - name: postgresql
          volumeMounts:
            - name: init-scripts-volume
              mountPath: /docker-entrypoint-initdb.d
            - name: postgres-data
              mountPath: /var/lib/pgsql
          env:
            - name: POSTGRES_DB
              value: $POSTGRESQL_DBNAME
            - name: POSTGRES_PASSWORD
              value: $POSTGRESQL_PASSWORD
            - name: POSTGRES_USER
              value: $POSTGRESQL_USER
            - name: PGDATA
              value: /var/lib/pgsql/data
          image: postgres
          args: ["-c", "log_statement=all", "-c", "shared_preload_libraries=pg_stat_statements"]
          ports:
            - containerPort: 5432
              protocol: TCP
      volumes:
        - name: init-scripts-volume
          configMap:
            name: postgres-init-scripts
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgresql-data-claim
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: trading
    service: postgresql
  name: postgresql
  namespace: $NAMESPACE
spec:
  ports:
    - name: postgresql
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app: trading
    service: postgresql
---
