name: get_service_environments
enabled: true
description: Get Service Environments
tags:
- rca
triggers:
- type: manual

# Inputs allow you to provide values when running the workflow
inputs:
- name: search_start_time
  description: the start of the time window
  type: string
- name: search_end_time
  description: the end of the time window
  type: string

steps:
  # Foreach loops iterate over arrays
- name: get_service_environments
  type: kibana.request
  with:
    method: GET
    path: /internal/apm/environments?start={{ inputs.search_start_time }}&end={{ inputs.search_end_time }}
    headers:
      x-elastic-internal-origin: kibana


