apiVersion: v1
kind: Namespace
metadata:
  name: grafana
  labels:
    name: grafana
---
apiVersion: v1
data:
  datasource.yml: |-
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus:9090 
      isDefault: true
      access: proxy
      editable: true
kind: ConfigMap
metadata:
  labels:
    service: grafana
  name: grafana-config
  namespace: grafana
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: grafana
  labels:
    service: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      service: grafana
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        service: grafana
      annotations:
        io.opentelemetry.discovery.logs/enabled: "true"
    spec:
      containers:
        - env:
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: "grafana"
            - name: GF_SECURITY_ADMIN_USER
              value: "admin"

            - name: GF_AUTH_DISABLE_LOGIN_FORM
              value: "true"
            - name: GF_AUTH_ANONYMOUS_ENABLED
              value: "true"
            - name: GF_AUTH_ANONYMOUS_ORG_ROLE
              value: "Admin"
            - name: GF_AUTH_ANONYMOUS_ORG_NAME
              value: "Main Org."

          image: grafana/grafana
          name: grafana
          ports:
            - containerPort: 3000
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/grafana/provisioning/datasources
              name: grafana-config
      restartPolicy: Always
      volumes:
        - configMap:
            name: grafana-config
          name: grafana-config
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: grafana
  name: grafana-ext
  namespace: grafana
spec:
  ports:
    - name: "3000"
      port: 3000
      targetPort: 3000
  type: LoadBalancer
  selector:
    service: grafana
---
apiVersion: v1
data:
  prometheus.yml: |-
    global:
      scrape_interval: 15s
      scrape_timeout: 10s
      evaluation_interval: 15s
    alerting:
      alertmanagers:
      - static_configs:
        - targets: []
        scheme: http
        timeout: 10s
        api_version: v2
    scrape_configs:
    - job_name: prometheus
      honor_timestamps: true
      scrape_interval: 15s
      scrape_timeout: 10s
      metrics_path: /metrics
      scheme: http
      static_configs:
      - targets:
        - router.trading-1.svc.cluster.local:9000
kind: ConfigMap
metadata:
  labels:
    service: prometheus
  name: prom-config
  namespace: grafana
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: grafana
  labels:
    service: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      service: prometheus
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        service: prometheus
      annotations:
        io.opentelemetry.discovery.logs/enabled: "true"
    spec:
      containers:
        - args:
            - --config.file=/etc/prometheus/prometheus.yml
          image: prom/prometheus
          name: prometheus
          ports:
            - containerPort: 9090
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/prometheus
              name: prom-config
      restartPolicy: Always
      volumes:
        - configMap:
            name: prom-config
          name: prom-config
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: prometheus
  name: prometheus
  namespace: grafana
spec:
  ports:
    - name: "9090"
      port: 9090
      targetPort: 9090
  selector:
    service: prometheus