[mysqld]
bind-address = 0.0.0.0
port = 3306
require_secure_transport = OFF

performance_schema = ON

# Enable specific statement consumers
#performance-schema-consumer-events-statements-current=ON
#performance-schema-consumer-events-statements-history=ON
#performance-schema-consumer-events-statements-history-long=ON

#performance-schema-instrument='statement/%=ON'
#performance-schema-consumer-statements-digest=ON

# Enable the current and history consumers
performance-schema-instrument='wait/%=ON'
performance-schema-consumer-events-waits-current=ON
performance-schema-consumer-events-waits-history=ON
performance-schema-consumer-events-waits-history-long=ON
