---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: $NAMESPACE
data:
  config.yaml: |-
    receivers:
      prometheus:
        config:
          scrape_configs:
            - job_name: 'monkey'
              scrape_interval: 5s
              static_configs:
                - targets: ['0.0.0.0:8000']

    processors:
      batch:
        send_batch_size: 1000
        timeout: 1s
        send_batch_max_size: 1500
      resource/servicename:
        attributes:
          - key: service.name
            value: monkey
            action: insert

    exporters:
      debug:
        verbosity: basic
      otlp/gateway:
        endpoint: "http://opentelemetry-kube-stack-daemon-collector.opentelemetry-operator-system.svc.cluster.local:4317"
        tls:
          insecure: true

    service:
      pipelines:
        metrics:
          receivers: [prometheus]
          processors: [resource/servicename, batch]
          exporters: [debug, otlp/gateway]
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: monkey
  namespace: $NAMESPACE
  labels:
    app: trading
    service: monkey
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trading
      service: monkey
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-python: "opentelemetry-operator-system/elastic-instrumentation"
        io.opentelemetry.discovery.logs/enabled: "false"
        resource.opentelemetry.io/service.version: "$SERVICE_VERSION"
      labels:
        app: trading
        service: monkey
        app.kubernetes.io/version: "$SERVICE_VERSION"
    spec:
      tolerations:
      - key: "REGION"
        operator: "Equal"
        value: "$REGION"
        effect: "PreferNoSchedule"
      containers:
        - name: collector
          image: otel/opentelemetry-collector-contrib:0.130.1
          command:
            - "/otelcol-contrib"
            - "--config=/etc/otelcol-contrib/config.yaml"
          volumeMounts:
            - mountPath: /etc/otelcol-contrib/config.yaml
              name: data
              subPath: config.yaml
              readOnly: true
        - name: monkey
          image: $REPO/monkey:$COURSE
          imagePullPolicy: Always
          ports:
            - containerPort: 9002
          env:
            - name: OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED
              value: "true"
            - name: TRADER_SERVICE
              value: proxy:9090/trader
            - name: REGION
              value: "$REGION"
      volumes:
        - name: data
          configMap:
            name: otel-collector-config
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: trading
    service: monkey
  name: monkey
  namespace: $NAMESPACE
spec:
  ports:
    - name: monkey
      port: 9002
      targetPort: 9002
  selector:
    app: trading
    service: monkey
---