---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: $NAMESPACE
data:
  config.yaml: |-
    receivers:
      sqlserver:
        collection_interval: 10s                     # interval for overall collection
        datasource: sqlserver://sa:$MSSQL_PASSWORD@127.0.0.1:1433/trades?integratedSecurity=false&encrypt=false&trustServerCertificate=true

        top_query_collection:                        # this collection exports the most expensive queries as logs
          lookback_time: 60                          # which time window should we look for the top queries
          max_query_sample_count: 1000               # maximum number query we store in cache for top queries.
          top_query_count: 200                       # The maximum number of active queries to report in a single run.
          collection_interval: 60s                   # collection interval for top query collection specifically
        
        query_sample_collection:                     # this collection exports the currently (relate to the query time) executing queries as logs
          max_rows_per_query: 100                    # the maximum number of samples to return for one single query.

        metrics:
          sqlserver.batch.request.rate:
            enabled: true
          sqlserver.batch.sql_compilation.rate:
            enabled: true
          sqlserver.batch.sql_recompilation.rate:
            enabled: true
          sqlserver.cpu.count:
            enabled: true
          sqlserver.database.backup_or_restore.rate:
            enabled: true
          sqlserver.database.count:
            enabled: true
          sqlserver.database.execution.errors:
            enabled: true
          sqlserver.database.full_scan.rate:
            enabled: true
          sqlserver.database.io:
            enabled: true
          sqlserver.database.latency:
            enabled: true
          sqlserver.database.operations:
            enabled: true
          sqlserver.database.tempdb.space:
            enabled: true
          sqlserver.database.tempdb.version_store.size:
            enabled: true
          sqlserver.deadlock.rate:
            enabled: true
          sqlserver.index.search.rate:
            enabled: true
          sqlserver.lock.timeout.rate:
            enabled: true
          sqlserver.lock.wait.count:
            enabled: true
          sqlserver.lock.wait.rate:
            enabled: true
          sqlserver.lock.wait_time.avg:
            enabled: true
          sqlserver.login.rate:
            enabled: true
          sqlserver.logout.rate:
            enabled: true
          sqlserver.memory.grants.pending.count:
            enabled: true
          sqlserver.memory.usage:
            enabled: true
          sqlserver.os.wait.duration:
            enabled: true
          sqlserver.page.buffer_cache.free_list.stalls.rate:
            enabled: true
          sqlserver.page.buffer_cache.hit_ratio:
            enabled: true
          sqlserver.page.checkpoint.flush.rate:
            enabled: true
          sqlserver.page.lazy_write.rate:
            enabled: true
          sqlserver.page.life_expectancy:
            enabled: true
          sqlserver.page.lookup.rate:
            enabled: true
          sqlserver.page.operation.rate:
            enabled: true
          sqlserver.page.split.rate:
            enabled: true
          sqlserver.processes.blocked:
            enabled: true
          sqlserver.replica.data.rate:
            enabled: true
          sqlserver.resource_pool.disk.operations:
            enabled: true
          sqlserver.resource_pool.disk.throttled.read.rate:
            enabled: true
          sqlserver.resource_pool.disk.throttled.write.rate:
            enabled: true
          sqlserver.table.count:
            enabled: true
          sqlserver.transaction.delay:
            enabled: true
          sqlserver.transaction.mirror_write.rate:
            enabled: true
          sqlserver.transaction.rate:
            enabled: true
          sqlserver.transaction.write.rate:
            enabled: true
          sqlserver.transaction_log.flush.data.rate:
            enabled: true
          sqlserver.transaction_log.flush.rate:
            enabled: true
          sqlserver.transaction_log.flush.wait.rate:
            enabled: true
          sqlserver.transaction_log.growth.count:
            enabled: true
          sqlserver.transaction_log.shrink.count:
            enabled: true
          sqlserver.transaction_log.usage:
            enabled: true
          sqlserver.user.connection.count:
            enabled: true
        events:
          db.server.query_sample:
            enabled: true
          db.server.top_query:
            enabled: true
        resource_attributes:
          host.name:
            enabled: true
          server.address:
            enabled: true
          server.port:
            enabled: true
          sqlserver.computer.name:
            enabled: true
          sqlserver.database.name:
            enabled: true
          sqlserver.instance.name:
            enabled: true

    processors:
      batch:
        send_batch_size: 1000
        timeout: 1s
        send_batch_max_size: 1500
      resource/servicename:
        attributes:
          - key: service.name
            value: mssql
            action: insert

    exporters:
      debug:
        verbosity: basic
      otlp/gateway:
        endpoint: "http://opentelemetry-kube-stack-daemon-collector.opentelemetry-operator-system.svc.cluster.local:4317"
        tls:
          insecure: true

    service:
      pipelines:
        logs:
          receivers: [sqlserver]
          processors: [resource/servicename, batch]
          exporters: [debug, otlp/gateway]
        metrics:
          receivers: [sqlserver]
          processors: [resource/servicename, batch]
          exporters: [debug, otlp/gateway]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mssql-init-scripts
  namespace: $NAMESPACE
data:
  init.sql: |
    IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'trades')
      BEGIN
          CREATE DATABASE trades;
      END;
    GO

    USE trades;
    GO

    IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'trades')
      BEGIN
          CREATE TABLE trades (
            share_price float check (share_price>=0), 
            shares integer check (shares>=0), 
            action varchar(255), 
            customer_id varchar(255), 
            symbol varchar(255), 
            trade_id varchar(255) not null, 
            primary key (trade_id));
      END;
    GO
  start.sh: |
    echo "--------- wait"
    sleep 20 # Wait for SQL Server to start
    echo "--------- start"
    /opt/mssql-tools18/bin/sqlcmd -No -S localhost -U SA -P $MSSQL_PASSWORD -i /opt/scripts/init.sql
    echo "--------- done"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: trading
    service: mssql
  name: mssql
  namespace: $NAMESPACE
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trading
      service: mssql
  template:
    metadata:
      labels:
        app: trading
        service: mssql
        type: mssql
      annotations:
        io.opentelemetry.discovery.logs/enabled: "true"
    spec:
      tolerations:
      - key: "REGION"
        operator: "Equal"
        value: "$REGION"
        effect: "PreferNoSchedule"
      containers:
        - name: collector
          image: otel/opentelemetry-collector-contrib:0.130.1
          command:
            - "/otelcol-contrib"
            - "--config=/etc/otelcol-contrib/config.yaml"
          volumeMounts:
            - mountPath: /etc/otelcol-contrib/config.yaml
              name: data
              subPath: config.yaml
              readOnly: true
        - name: mssql
          image: mcr.microsoft.com/mssql/server:2025-latest
          command: ["/bin/bash", "-c"]
          args:
            - |
              /opt/scripts/start.sh &
              /opt/mssql/bin/sqlservr
          env:
            - name: MSSQL_PID
              value: "Developer"
            - name: ACCEPT_EULA
              value: "Y"
            - name: SA_PASSWORD
              value: $MSSQL_PASSWORD
          volumeMounts:
            - name: init-scripts-volume
              mountPath: /opt/scripts
          ports:
            - containerPort: 1433
              protocol: TCP
      volumes:
        - name: init-scripts-volume
          configMap:
            name: mssql-init-scripts
            defaultMode: 0755 # Set executable permissions
        - name: data
          configMap:
            name: otel-collector-config
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: trading
    service: mssql
  name: mssql
  namespace: $NAMESPACE
spec:
  ports:
    - name: mssql
      port: 1433
      targetPort: 1433
      protocol: TCP
  selector:
    app: trading
    service: mssql
---
