---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-collector-config
  namespace: $NAMESPACE
data:
  config.yaml: |-
    receivers:
      postgresql:
          endpoint: localhost:5432
          transport: tcp
          tls:
            insecure: true
          username: otelu
          password: otelp

          metrics:
            postgresql.database.locks:
              enabled: true
            postgresql.tup_updated:
              enabled: true
            postgresql.tup_returned:
              enabled: true
            postgresql.tup_fetched:
              enabled: true
            postgresql.tup_inserted:
              enabled: true
            postgresql.tup_deleted:
              enabled: true
            postgresql.blks_hit:
              enabled: true
            postgresql.blks_read:
              enabled: true
          events:
            db.server.top_query:
              enabled: true 
            db.server.query_sample:
              enabled: true

    processors:
      batch:
        send_batch_size: 1000
        timeout: 1s
        send_batch_max_size: 1500
      transform/routing:
        metric_statements:
          - context: datapoint
            statements:
              - set(attributes["data_stream.namespace"], "$NAMESPACE")

    exporters:
      debug:
        verbosity: basic
      otlp/gateway:
        endpoint: "http://opentelemetry-kube-stack-daemon-collector.opentelemetry-operator-system.svc.cluster.local:4317"
        tls:
          insecure: true

    service:
      pipelines:
        logs:
          receivers: [postgresql]
          processors: [transform/routing, batch]
          exporters: [debug, otlp/gateway]
        metrics:
          receivers: [postgresql]
          processors: [transform/routing, batch]
          exporters: [debug, otlp/gateway]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
  namespace: $NAMESPACE
data:
  create_table.sql: |
    CREATE TABLE IF NOT EXISTS trades (
      share_price float4 check (share_price>=0), 
      shares integer check (shares>=0), 
      action varchar(255), 
      customer_id varchar(255), 
      symbol varchar(255), 
      trade_id varchar(255) not null, 
      primary key (trade_id));
    alter system set shared_preload_libraries='pg_stat_statements';
    CREATE USER otelu WITH PASSWORD 'otelp';
    GRANT SELECT ON pg_stat_database TO otelu;
    GRANT SELECT ON trades TO otelu;
    GRANT pg_monitor TO otelu;
    CREATE EXTENSION IF NOT EXISTS pg_stat_statements;
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: $NAMESPACE
data:
  postgresql.conf: |
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: trading
    service: postgresql
  name: postgresql
  namespace: $NAMESPACE
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trading
      service: postgresql
  template:
    metadata:
      labels:
        app: trading
        service: postgresql
      annotations:
        io.opentelemetry.discovery.logs.postgresql/enabled: "true"
        io.opentelemetry.discovery.logs.postgresql/config: |
          operators:
          - type: container
          - type: regex_parser
            on_error: send_quiet
            parse_from: body
            regex: '^(?P<timestamp_field>\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}.\d{3}\s[A-z]+)\s\[\d+\]\s(?P<severity_field>[A-Z]+):\s*(?<msg_field>.*?)\s*(\/\*traceparent=\x27(?P<version>\d*)?-(?P<trace_id>\S*)-(?P<span_id>\S*)-(?P<trace_flags>\d*)\x27\*\/)?$'
            timestamp:
              parse_from: attributes.timestamp_field
              on_error: send_quiet
              layout_type: strptime
              layout: '%Y-%m-%d %H:%M:%S.%L %Z'
            trace:
              trace_id:
                parse_from: attributes.trace_id
                on_error: send_quiet
              span_id:
                parse_from: attributes.span_id
                on_error: send_quiet
              trace_flags:
                parse_from: attributes.trace_flags
                on_error: send_quiet
            severity:
              parse_from: attributes.severity_field
              on_error: send_quiet
              mapping:
                warn: 
                  - WARNING
                  - NOTICE
                error:
                  - ERROR
                info: 
                  - LOG
                  - INFO
                  - STATEMENT
                debug1:
                  - DEBUG1
                debug2:
                  - DEBUG2
                debug3:
                  - DEBUG3
                debug4:
                  - DEBUG4
                debug5:
                  - DEBUG5
                fatal:
                  - FATAL
                  - PANIC
          - type: move
            on_error: send_quiet
            from: attributes.msg_field
            to: body
          - type: remove
            on_error: send_quiet
            field: attributes.timestamp_field
          - type: remove
            on_error: send_quiet
            field: attributes.severity_field
          - type: remove
            on_error: send_quiet
            field: attributes.trace_id
          - type: remove
            on_error: send_quiet
            field: attributes.span_id
          - type: remove
            on_error: send_quiet
            field: attributes.trace_flags
    spec:
      containers:
        - name: collector
          image: otel/opentelemetry-collector-contrib:0.144.0
          command:
            - "/otelcol-contrib"
            - "--config=/etc/otelcol-contrib/config.yaml"
          volumeMounts:
            - mountPath: /etc/otelcol-contrib/config.yaml
              name: data
              subPath: config.yaml
              readOnly: true
        - name: postgresql
          volumeMounts:
            - name: init-scripts-volume
              mountPath: /docker-entrypoint-initdb.d
            - name: config-volume
              mountPath: /etc/postgresql/postgresql.conf # Mount as a specific file
              subPath: postgresql.conf # Mount only the specific ke
          env:
            - name: POSTGRES_DB
              value: $POSTGRESQL_DBNAME
            - name: POSTGRES_PASSWORD
              value: $POSTGRESQL_PASSWORD
            - name: POSTGRES_USER
              value: $POSTGRESQL_USER
          image: postgres
          args: ["-c", "log_statement=all", "-c", "shared_preload_libraries=pg_stat_statements", "-c", "pg_stat_statements.track=all"]
          ports:
            - containerPort: 5432
              protocol: TCP
      volumes:
        - name: config-volume
          configMap:
            name: postgres-config
        - name: init-scripts-volume
          configMap:
            name: postgres-init-scripts
        - name: data
          configMap:
            name: postgres-collector-config
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: trading
    service: postgresql
  name: postgresql
  namespace: $NAMESPACE
spec:
  ports:
    - name: postgresql
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app: trading
    service: postgresql
---
