---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: trading
    service: recorder-java
  name: recorder-java-config
  namespace: $NAMESPACE
data:
  spring.jpa.properties.hibernate.session_factory.statement_inspector: "com.example.sqlcommenter.Inspector"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: trading
    service: recorder-java
  name: recorder-java
  namespace: $NAMESPACE
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trading
      service: recorder-java
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-java: "opentelemetry-operator-system/elastic-instrumentation"
        io.opentelemetry.discovery.logs/enabled: "false"
        resource.opentelemetry.io/service.version: "$SERVICE_VERSION"
      labels:
        app: trading
        service: recorder-java
        app.kubernetes.io/version: "$SERVICE_VERSION"
    spec:
      tolerations:
      - key: "REGION"
        operator: "Equal"
        value: "$REGION"
        effect: "PreferNoSchedule"
      volumes:
        - name: lib
          emptyDir: {}
      initContainers:
        - name: sqlcommentor
          image: $REPO/sqlcommenter:$COURSE
          command: ["cp"]
          args: ["/lib/com-example-sqlcommentor.jar", "/usr/src/app/lib/com-example-sqlcommentor.jar"]
          volumeMounts:
            - name: lib
              mountPath: /usr/src/app/lib
      containers:
        - name: recorder-java
          volumeMounts:
            - name: lib
              mountPath: /usr/src/app/lib
          envFrom:
            - configMapRef:
                name: recorder-java-config
          env:
            - name: OTEL_INSTRUMENTATION_LOGBACK_APPENDER_EXPERIMENTAL_LOG_ATTRIBUTES
              value: 'true'
            - name: OTEL_INSTRUMENTATION_LOGBACK_APPENDER_EXPERIMENTAL_CAPTURE_KEY_VALUE_PAIR_ATTRIBUTES
              value: 'true'
            - name: OTEL_JAVA_EXPERIMENTAL_SPAN_ATTRIBUTES_COPY_FROM_BAGGAGE_INCLUDE
              value: '*'
            - name: OTEL_JAVA_EXPERIMENTAL_LOG_ATTRIBUTES_COPY_FROM_BAGGAGE_INCLUDE
              value: '*'

            - name: JAVA_TOOL_OPTIONS
              value: "-Dloader.path=/usr/src/app/lib"

            - name: POSTGRESQL_HOST
              value: $POSTGRESQL_HOST
            - name: POSTGRESQL_PASSWORD
              value: $POSTGRESQL_PASSWORD
            - name: POSTGRESQL_USER
              value: $POSTGRESQL_USER
            - name: POSTGRESQL_DBNAME
              value: $POSTGRESQL_DBNAME
            - name: POSTGRESQL_PROTOCOL
              value: $POSTGRESQL_PROTOCOL
            - name: POSTGRESQL_SETUP
              value: $POSTGRESQL_SETUP
            - name: POSTGRESQL_OPTIONS
              value: $POSTGRESQL_OPTIONS
            - name: POSTGRESQL_PORT
              value: "$POSTGRESQL_PORT"
            - name: POSTGRESQL_DIALECT
              value: $POSTGRESQL_DIALECT

            - name: NOTIFIER_ENDPOINT
              value: $NOTIFIER_ENDPOINT
          image: $REPO/recorder-java:$COURSE
          imagePullPolicy: Always
          ports:
            - containerPort: 9003
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: trading
    service: recorder-java
  name: recorder-java
  namespace: $NAMESPACE
spec:
  ports:
    - name: recorder-java
      port: 9003
      targetPort: 9003
  selector:
    app: trading
    service: recorder-java
---