---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: $NAMESPACE
data:
  config.yaml: |-
    receivers:
      prometheus:
        config:
          scrape_configs:
            - job_name: 'router'
              scrape_interval: 5s
              static_configs:
                - targets: ['0.0.0.0:9000']

    processors:
      batch:
        send_batch_size: 1000
        timeout: 1s
        send_batch_max_size: 1500
      resource/servicename:
        attributes:
          - key: service.name
            value: router
            action: insert

    exporters:
      debug:
        verbosity: basic
      otlp/gateway:
        endpoint: "http://opentelemetry-kube-stack-daemon-collector.opentelemetry-operator-system.svc.cluster.local:4317"
        tls:
          insecure: true

    service:
      pipelines:
        metrics:
          receivers: [prometheus]
          processors: [resource/servicename, batch]
          exporters: [debug, otlp/gateway]
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: trading
    service: router
  name: router
  namespace: $NAMESPACE
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trading
      service: router
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-nodejs: "opentelemetry-operator-system/elastic-instrumentation"
        io.opentelemetry.discovery.logs/enabled: "true"
        resource.opentelemetry.io/service.version: "$SERVICE_VERSION"
      labels:
        app: trading
        service: router
        app.kubernetes.io/version: "$SERVICE_VERSION"
    spec:
      tolerations:
      - key: "REGION"
        operator: "Equal"
        value: "$REGION"
        effect: "PreferNoSchedule"
      containers:
        - name: router
          env:
            - name: RECORDER_HOST_1
              value: recorder-java
            - name: RECORDER_HOST_2
              value: recorder-go
            - name: RECORDER_HOST_CANARY
              value: recorder-go-zero
          image: $REPO/router:$COURSE
          imagePullPolicy: Always
          ports:
            - containerPort: 9000
        - name: collector
          image: otel/opentelemetry-collector-contrib:0.130.1
          command:
            - "/otelcol-contrib"
            - "--config=/etc/otelcol-contrib/config.yaml"
          volumeMounts:
            - mountPath: /etc/otelcol-contrib/config.yaml
              name: data
              subPath: config.yaml
              readOnly: true
      volumes:
        - name: data
          configMap:
            name: otel-collector-config
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: trading
    service: router
  name: router
  namespace: $NAMESPACE
spec:
  ports:
    - name: router
      port: 9000
      targetPort: 9000
  selector:
    app: trading
    service: router
---
